<body>

         <!-- <div class="bg-img">
            <form class="container">
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                     <h6 class="card-subtitle mb-1">{{ data.id }}</h6>
                        <h5 class="card-title">{{ data.name }}</h5>
                        <h6 class=">{{ data.street }}</h6>
                        <h6 class=">{{ data.state }}</h6>
                        <h6 class=">{{ data.city }}</h6>
                        <h6 class=">{{ data.zipcode }}</h6> 
                        <hr>
                        <p class="card-text">Very Nice Function Hall,Has Two a/c guest rooms ,Valet parking and Gives The Complete Satisfaction.   </p>
                        
                    </div>
                </div>
            </form>
        </div>

        
        <div class="bg-img">
            <form class="container" method="post">
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                     <h6 class="card-subtitle mb-1">{{ data.id }}</h6>
                        <h5 class="card-title">{{ data.name }}</h5>
                        <h6 class=">{{ data.street }}</h6>
                        <h6 class=">{{ data.state }}</h6>
                        <h6 class=">{{ data.city }}</h6>
                        <h6 class=">{{ data.zipcode }}</h6> 
                        <hr>
                        <p class="card-text">Very Nice Function Hall,Has Two a/c guest rooms ,Valet parking and Gives The Complete Satisfaction.   </p>
                        
                    </div>
                </div>
            </form>
        </div> -->
        
        

        <!DOCTYPE html>
        <html lang="en">
        <head>
          <title>Bootstrap Example</title>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        </head>
    
<body>
  <div class="panel panel-info">
    <div class="panel-heading " style="background-image:url('../../assets/Images/funchall1.jpeg')"    ></div>
    <div class="panel-body">{{ functionHalls.functionHallName }}</div>
    <div class="panel-body">{{ functionHalls.ownerFirstName }}</div>
    <div class="panel-body">{{ functionHalls.ownerId }}</div>
    <div class="panel-body">{{ functionHalls.street }}</div>
    <div class="panel-body">{{ functionHalls.state }}</div>
    <div class="panel-body">{{ functionHalls.city }}</div>
    <div class="panel-body">{{ functionHalls.zipcode }}</div>

    

    <!-- <div class="panel panel-info">
        <div class="panel-heading " style="background-image:url('../../assets/Images/funchall1.jpeg')"    ></div>
        <div class="panel-body">{{ data.name }}</div>
        <div class="panel-body">{{ data.street }}</div>
        <div class="panel-body">{{ data.state }}</div>
        <div class="panel-body">{{ data.city }}</div>
        <div class="panel-body">{{ data.zipcode }}</div> -->
<!--         
        <div tabindex="-1" data-suggestion-key="0"
  class="result in recent-search__result last desktop result--has-icon-has-input-icon result--two-line-display">
  <div class="result__bg bg-brand"></div>
  <div  *ngFor="let item of filteredData" role="option" aria-selected="false" tabindex="-1" class="result__content"><span class="result__first-row"><span
        class="SVGIcon SVGIcon--16px result__icon"><svg focusable="false" data-id="SVG_MAP__16" width="16" height="16"
          viewBox="0 0 16 16">
          <g fill="none" fill-rule="evenodd">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M12.58 9.72l2.04 4.07-3.56-1.02-6.12 2.04-3.56-1.02 2.04-4.07"></path>
            <path
              d="M5.25 6.5a3.35 3.35 0 0 1 .36-4.3l.02-.03a3.34 3.34 0 0 1 4.74 0l.02.02a3.35 3.35 0 0 1 .36 4.31L8 10.36 5.25 6.5z"
              stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M8.88 4.56a.88.88 0 1 1-1.76 0 .88.88 0 0 1 1.76 0" fill="currentColor" stroke="none"></path>
          </g>
        </svg></span></span><span (click)="onSelect(item)" class="result__chars result__chars--truncate-term">
          <span>
          <span class="result__char highlighted">{{ item.name }}</span><br>
          <span class="result__char">{{ item.street }}</span><br>
          <span class="result__char">{{ item.city }}</span></span>
        </span></div>
</div> -->
        <!-- <div tabindex="-1" data-suggestion-key="0"
        class="result in recent-search__result last desktop result--has-icon-has-input-icon result--two-line-display">
        <div class="result__bg bg-brand"></div>
        <div  *ngFor="let item of filteredData" role="option" aria-selected="false" tabindex="-1" class="result__content"><span class="result__first-row"><span
              class="SVGIcon SVGIcon--16px result__icon"><svg focusable="false" data-id="SVG_MAP__16" width="16" height="16"
                viewBox="0 0 16 16">
                <g fill="none" fill-rule="evenodd">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12.58 9.72l2.04 4.07-3.56-1.02-6.12 2.04-3.56-1.02 2.04-4.07"></path>
                  <path
                    d="M5.25 6.5a3.35 3.35 0 0 1 .36-4.3l.02-.03a3.34 3.34 0 0 1 4.74 0l.02.02a3.35 3.35 0 0 1 .36 4.31L8 10.36 5.25 6.5z"
                    stroke-linecap="round" stroke-linejoin="round"></path>
                  <path d="M8.88 4.56a.88.88 0 1 1-1.76 0 .88.88 0 0 1 1.76 0" fill="currentColor" stroke="none"></path>
                </g>
              </svg></span></span><span (click)="onSelect(item)" class="result__chars result__chars--truncate-term">
                <span>
                <span class="result__char highlighted">{{ item.name }}</span><br>
                <span class="result__char">{{ item.street }}</span><br>
                <span class="result__char">{{ item.city }}</span></span>
              </span></div>
      </div> -->


        <!-- <a href="#" target="_blank" class="media-flex__content" tabindex="0">
            <div class="media-flex__body">
                <div class="UrgencyUnitMessage HitInfo__content--urgency" aria-hidden="true">
                    <div class="UrgencyUnitMessage__img--s"><img
                            src="//csvcus.homeaway.com/rsrcs-crs/traveler/react-urgency-messaging/Viewed-House-Icon-Grayscale.svg"
                            alt="VIEWED_HOUSE" style="width: 16px; height: 16px;"></div>
        
                </div>
                <div class="HitInfo__details">
                    <div class="Details__propertyType Details__label" aria-hidden="true">{{ data.name }}</div>
                    <div class="Details__bedrooms Details__label" aria-hidden="true">{{ data.name }}</div>
                    <div class="Details__bathrooms Details__label" aria-hidden="true">{{ data.name }}</div>
                    <div class="Details__sleeps Details__label" aria-hidden="true">{{ data.name }}</div>
                    <div class="Details__label" aria-hidden="true">{{ data.name }}</div>
                
                </div>
                <div class="HitInfo__labels">
                    <div class="" role="presentation" style="display: inline-block; outline: 0px; position: relative;"><span
                            role="presentation" class="HitInfo__labels_item label label-default label-49">Free
                            cancellation</span></div>
                </div>
            </div>
        </a> -->

      </div>
</body>

   


